/* todos los arreglos qye se aplican a todos los elementos se aplican acà */
* {
    box-sizing: border-box; /* para que respete el ancho que se le va a dar */
    margin: 0%; /* para que yo le de los margenes que necesito */
    padding: 0%; /* para que yo le de los margenes que necesito */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* atodo el body se le pone un estilo de letra */
    max-width: 1180px;
    margin: 0 auto;
}

a {/* a todas las se les saca el subrallado */
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* img {
    width: 100%; para no tener problema con el centrado 
} */