header {
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
}
 
.header__logo {
    border-radius: 50%;/* se aplica solo si la imagen es cuadrada para pasar a redondo */
    border: solid 1px var(--colorGrisClaro);/* para el borde */
    width: 180px;/* es el ancho */
    height: 180px;/* es el alto */
    margin-top: 30px;
    
}

.header__burger{
    background-color: var(--colorGrisOscuro); /* para el fondo del boton */
    border: none;/* se saca losbordes */
    border-radius: 5px; /* para que las puntas seas redondas */
    color: white;/* color de la fuente */
    font-size: 32px;/* para agrandar las lineas*/
    width: 50px; /* ancho del boton no de lo que esta adentro(las lineas)*/
    padding: 5px; 
    margin-bottom: 30px;

    
}

.header__menu{
   
    width: 100%;
}

.header__menu ul{
    display: flex;
    flex-direction: column;
}

.header__menu li{
    
    background-color: var(--colorGrisOscuro);
    border-bottom: solid 2px white;/* para poner laparte de abajo el separadose 2px y blanco */
    text-transform: uppercase;/* los pasa a mayuscula */
    text-align: center;/* lo centra */
    padding: 10px 0;/* para que se separe de arriba a bajo 10px de los  costados nada */
}

/* tablet */
@media (min-width : 460px){
    .header__burger{
        display: none; /* para centrar creo, se lo utiliza en block para ponerlo en bloque, es este caso porque se una en mobile */
       
    }
    .header__menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header__menu li{
     
      font-size: 0.6rem;
      width: 15.5%;
    }
    
}

/* laptop */
@media (min-width: 768px){
    .header__menu li {
        font-size: 1rem;
        
    }
}